<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Lista de Artistas</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'notMusic/css/index.css' %}">
    </head>
    <body>
        
        <main>

            <header>
                <!-- <img src="{% static 'notMusic/img/logo.png' %}"> -->
                <p class="logo">notMusic</p>
            </header>

            <section class="sec-main">
                <h2 class="titulo-sec">Musicas - {{album.nomeAlbum}}</h2>
                {% for m in album.musicas.all %}
                    <ul>
                        <li>
                            <div class="controla">
                                <h4 class="nome-artista">{{m.tituloMusica}}</h4>
                                <p class="duracao">Duracação: {{m.duracao}}</p>
                            </div>
                            <a class="link-albuns" href="{{m.linkMusica}}" target="blank">Ouça já</a>
                        </li>
                    </ul>
                {% endfor %}
            </section>

        </main>
    </body>
</html>