<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Lista de Artistas</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'notMusic/css/index.css' %}">
    </head>
    <body>
        
        <main>

            <header>
                <p class="logo">notMusic</p>
                <div class="nav-header">
                    <a class="link-header" href="{% url 'notMusic:index' %}">Home</a>
                    <p><a class="link-header" href="{% url 'notMusic:todosAlbuns' %}">Álbuns</a></p>
                    <a class="link-header" href="{% url 'notMusic:todasMusicas' %}">Músicas</a>
                </div>
                <p class="cop">© 2010 - 2022 NOTMUSIC</p>
            </header>

            <section class="sec-main">
                <h2 class="titulo-sec">Todas as músicas</h2>
                {% for m in lista_de_musicas %}
                    <ul>
                        <li>
                            <div class="controla">
                                <img class="fotoArtista" src="{{m.fotoMusica}}" alt="">
                                <h4 class="nome-artista">{{m.tituloMusica}}</h4>
                                <p>{{m.nomeArtista}}</p>
                            </div>
                            <a class="link-albuns" href="{{m.linkMusica}}" target="blank">Ouça já</a>
                        </li>
                    </ul>
                {% endfor %}
            </section>

        </main>
    </body>
</html>